*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.section1{
    background-color: #1F2937;
}

.header_class{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.sub_headers{
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;

}

.header__logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

.hero_text{
    padding: 50px;
    margin: 60px;
    color: #F9FAF8;
}

.hero__maintext{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero__subtext{
    opacity: 0.7;
    font-size: 18px;
    margin: 5px;
}


#img1{
    position: relative;
    left: 1000px;
    bottom: 250px;
}

#button1{
    background-color: #3882F6 ;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    bottom: 250px;
    left: 125px;
}


.random_info{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 5px;
    margin: 45px;
}

.box_container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.box{
    background-color: none;
    padding: 20px;
    margin: 30px;
    width: 250px;
    height: 250px;
    border: #3882F6 solid 4px;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.box p{
    margin: -60px;
    margin-top: 50px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.section3{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding: 100px;
    margin: 100px;
    text-align: center;
}

.quotee{
    font-size: 27px;
    font-weight: bold;
}

.blue_box{
    background-color: #3882F6;
    width: 700px;
    padding: 75px;
    margin: 100px auto;
    border: none;
    border-radius: 15px;
    max-width: fit-content;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column ;
    justify-content: flex-start;
}


.text1{
    font-size: 20px;
    color: white;
    font-weight: 900;
}

.subtext1{
    font-size: 18px;
    color: white;
    opacity: 0.7;
}

#button3{
    border: white solid;
    background-color: transparent;
    border-radius: 6px;
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 5px;
    width: 100px;
    position: relative;
    top: 10px;
    left: 180px;
    cursor: pointer;
}
.section5{
    background-color: #1F2937;
    padding: 15px;
}
footer{
    text-align: center;
    color: #E5E7EB;
    opacity: 0.9;
    font-size: 14px;
}