*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.section1{
    background-color: #1F2937;
}

.header_class{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.header__logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

.header__linkone, .header__linktwo, .header__linkthree{
    color: #E5E7EB;
    font-size: 18px;
}


.hero_text{
    padding: 15px;
    margin: 25px;
    color: #F9FAF8;
}

.hero__maintext{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero__subtext{
    opacity: 0.7;
    font-size: 18px;
    margin: 5px;
}
